<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weekly Meal Planner</title>
</head>

<body>

  <div class="">
    <!-- Nav bar -->
    <button type="button" name="button">+ Week</button>
    <button type="button" name="button">Delete Selected</button>
    <h1>Weekly Meal Planner</h1>
    <button type="button" name="button">⚙️</button>
  </div>

  <div class="">
    <!-- Table -->
    <table>
      <tr>
        <td>Delete?</td>
        <td>Day</td>
        <td>Meal</td>
        <td>Source</td>
        <td>Page</td>
        <td>Recipe</td>
        <td>Quality</td>
        <td>Effort</td>
        <td>Time</td>
      </tr>
      <% entries.forEach(function(entry){ %>
      <form class="" action="/table-change" method="post">
        <tr>
          <td><input type="checkbox" name="active-checkbox" value=""></td>
          <td><input type="date" name="date" value="<%= entry.date.toISOString().split('T')[0] %>" onchange="this.form.submit()"> </td>
          <td><input type="text" name="meal" value="<%= entry.meal %>" onchange="this.form.submit()"></td>
          <% if(entry.source!==undefined){ %>
            <td><input type="text" name="meal" value="<%= entry.source.alias %>" onchange="this.form.submit()"></td>
          <% }else{ %>
            <td><input type="text" name="meal" value="" onchange="this.form.submit()"></td>
          <% } %>
          <td><input type="number" name="page" value="<%= entry.page %>"></td>
          <% if(entry.recipe!==undefined){ %>
            <td><input type="text" name="recipeName" value="<%= entry.recipe.name %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="rating" value="<%= entry.recipe.rating %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="effort" value="<%= entry.recipe.effort %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="time" value="<%= entry.recipe.time %>" onchange="this.form.submit()"></td>
          <% }else{ %>
            <td><input type="text" name="recipeName" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="rating" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="effort" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="time" value="" onchange="this.form.submit()"></td>
          <% } %>
          <input type="hidden" name="id" value="<%= entry._id %>">
        </tr>
      </form>
      <% }); %>
    </table>
  </div>

  <form class="" action="/new-single-entry" method="post">
    <div class="">
      <button type="submit" name="button">+</button>
    </div>
  </form>

</body>

</html>
