<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Weekly Meal Planner</title>
</head>

<body>

  <div class="">
    <!-- Nav bar -->
    <form class="" action="/new-week-entry" method="post">
      <button type="submit" name="button">+ Week</button>
    </form>
    <h1>Weekly Meal Planner</h1>
    <button type="button" name="button">⚙️</button>
    <a href="/add-book">Add new book</a>
  </div>

  <div class="">
    <!-- Table -->
    <table>
      <tr>
        <td>Delete?</td>
        <td>Day</td>
        <td>Weekday</td>
        <td>Meal</td>
        <td>In/Out</td>
        <td>Source</td>
        <td>Page</td>
        <td>Recipe</td>
        <td>Quality</td>
        <td>Effort</td>
        <td>Time</td>
      </tr>
      <% entries.forEach(function(entry){ %>
      <form class="" action="/table-change" method="post">
        <tr>
          <td><input type="checkbox" name="activeCheckbox" value="" onchange="this.form.submit()"></td>
          <td><input type="date" name="date" value="<%= entry.date.toISOString().split('T')[0] %>" onchange="this.form.submit()"> </td>
          <td><%= entry.date.toLocaleString('en-us', {  weekday: 'long' })%></td>
          <td><input type="text" name="meal" value="<%= entry.meal %>" onchange="this.form.submit()" list="lunch-dinner"></td>
          <% if(entry.inOut){ %>
          <td><input type="checkbox" name="inOut" value="" onchange="this.form.submit()" checked></td>
          <% }else{ %>
          <td><input type="checkbox" name="inOut" value="" onchange="this.form.submit()"></td>
          <% } %>

          <datalist class="" id="lunch-dinner">
            <option value="Lunch">
            <option value="Dinner">
          </datalist>

          <% if(entry.source!==null&&entry.source!==undefined){ %>
            <td><input type="text" name="source" value="<%= entry.source.alias %>" onchange="this.form.submit()" list="available-sources"></td>
          <% }else{ %>
            <td><input type="text" name="source" value="" onchange="this.form.submit()" list="available-sources"></td>
          <% } %>

          <datalist class="" id="available-sources">
          <% sources.forEach(function(source){ %>
            <option value="<%= source %>">
          <% }) %>
          </datalist>

          <td><input type="number" name="page" value="<%= entry.page %>" onchange="this.form.submit()"></td>
          <% if(entry.recipe!==undefined&&entry.recipe!==null){ %>
            <td><input type="text" name="recipe" value="<%= entry.recipe.name %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="quality" value="<%= entry.recipe.quality %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="effort" value="<%= entry.recipe.effort %>" onchange="this.form.submit()"></td>
            <td><input type="text" name="time" value="<%= entry.recipe.time %>" onchange="this.form.submit()"></td>
          <% }else{ %>
            <td><input type="text" name="recipe" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="quality" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="effort" value="" onchange="this.form.submit()"></td>
            <td><input type="text" name="time" value="" onchange="this.form.submit()"></td>
          <% } %>
          <input type="hidden" name="id" value="<%= entry._id %>">
        </tr>
      </form>
      <% }); %>
    </table>
  </div>

  <form class="" action="/new-single-entry" method="post">
    <div class="">
      <button type="submit" name="button">+</button>
    </div>
  </form>

  <!-- <script type="text/javascript">
  createEditableSelect(document.forms[0].myText);
  </script> -->
</body>

</html>
